.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
 h1{
   text-align: left;
 }
 body{
   background-color:coral;
 }

table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }

  .places{
    /* box-model*/
    border: 5px solid;
    padding: 1em;
    margin: 1em;
    margin-left: 0em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}
.box{
     /* box-model*/
     border: 5px solid;
     padding: 1em;
     margin: 1em;
     margin-left: 0em;
     margin-bottom: 0.5em;
     border-radius: 0.5em;
}
  .place1{
    /*background-color:#e76f51;*/
    flex: 2
 }

 .place2{
     /*background-color:#2a9d8f;*/
     flex: 2
 }
 .place3{
     /*background-color: #e9c46a;*/
     flex: 2
 }
 @media (min-width: 960px){
    .places{
        display: flex;
    }
    
}